@import '../mixins.scss';

.container {
  position: relative;
  height: 100%;
  z-index: 10;

  .background {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;

    img {
      width: 100%;
      height: auto;
      ;
    }

    .backgroundImg {
      position: relative;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 10;
    }

    .backgroundShadow {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 8;
      opacity: .7;
      transform: translateY(15px);
      @include responsive(transform,
        (xs, translateY(20px)),
        (s, translateY(25px)),
        (m, translateY(30px)),
        (l, translateY(35px)),
        (xl, translateY(40px)),
        (xxl, translateY(50px)));
    }
  }

  .content {
    position: absolute;
    top: 10%;
    width: 100%;
    z-index: 15;
    /*    @include responsive(top,
     (xs, 11%),
     (s, 11%),
     (m, 11%),
     (l, 11%),
     (xl, 11%),
     (xxl, 11%)); */
  }
}