@import '../mixins.scss';

.container {
  position: relative;
  height: 100%;
  z-index: 4;
  min-height: 50rem;

  .background {
    position: absolute;
    top: -20rem;
    left: 0;
    height: calc(100% + 40rem);
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/backgrounds/stoneUpperBg1K.webp');
    background-size: cover;
    background-position: center;
  }

  .content {
    padding: 5% 0 0 0;
    position: relative;
    z-index: 15;
  }
}