.container{
  position: relative;
  height: 100%;
  z-index: 4;
  min-height:70vh ;

  .background{
    position: absolute;
    top: -30vh;
    left: 0;
    height: calc(100% + 60vh);
    width: 100%;
    opacity: .7;
    background-color: black;
  }
  .content{
    position: relative;
    z-index: 15;
  }
}