.container {
  position: relative;
  height: 100%;
  z-index: 4;
  min-height: 100rem;

  .background {
    position: absolute;
    top: -20rem;
    left: 0;
    height: calc(100% + 20rem);
    width: 100%;
    opacity: .7;
    background-color: black;
  }

  .content {
    padding: 4rem 0 0 0;
    position: relative;
    z-index: 15;
  }
}