.head{
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  overflow-x: hidden;
}
.headContainer{
  position: relative;
   background-color:rgba(255, 0, 0, .2) 
}

x

.blackTop{
  width: 100vw;
  height: auto;
  top:0;
  left: 0;
  z-index: 2;
  margin-bottom:5%;
}

.headContentWrapper{
  position: absolute;
  top: 15%;
  left: 2%;
  display: flex;
}

.logoWrapper{
  width: 25%;
  
}
.inkLogo{
 /*  background-color: rgba(214, 31, 31, 0.5); */
  width: 100%;
  height: auto;
  margin-bottom: -1rem;
}

.iconContainer{
  display:flex;
  justify-content: space-around;
  padding: 0 3rem;
  z-index: 5;
  width: 100%;
  background-color: green;

}
.blueIconWrapper{
  width: 100%;
  height: auto;
  position: relative;
  background-color: yellow;
}

.blueIcons{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0
}