@import '../breakpoints.scss';
@import '../mixins.scss';
@import '../colors.scss';

// TODO use or delete
$height-values: (xs: 120px,
  s: 170px,
  m: 220px,
  l: 270px,
  xl: 300px,
  xxl: 350px);

.headContainer {
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  overflow: hidden;
  //background-color: rgba(255, 0, 0, .2);

  height: 100px;
  @include responsive(height,
    (xs, 120px),
    (s, 170px),
    (m, 220px),
    (l, 270px),
    (xl, 300px),
    (xxl, 350px));

  // TESTCOLORS, 
  // TODO DELETE THIS LATER
  /*   @include responsive(background-color,
    (xs, rgba(204, 218, 9, 0.2)), // 320px
    (s, rgba(44, 218, 9, 0.2)), //  520px
    (m, rgba(9, 12, 218, 0.2)), // 768px
    (l, rgba(218, 9, 61, 0.2)), // 992px
    (xl, rgba(218, 127, 9, 0.2)), // 1200px
    (xxl, rgba(218, 9, 201, 0.2))); */
  // 1440px

  .headContentWrapper {
    position: relative;
    top: 5%;
    left: 2%;
    display: flex;
    z-index: 102;
    height: 100%;
    width: 100%;

    .logoWrapper {
      position: relative;
      height: 100%;
      //background-color: rgba(250, 227, 16, 0.2);

      .inkLogo {
        //background-color: rgba(214, 31, 31, 0.5);
        width: auto;
        height: 80%;
      }

      .iconContainer {
        position: relative;
        //background-color: rgb(8, 109, 22);
        height: 13%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;


        .blueIcons {
          height: 13px;
          @include responsive(height,
            (xs, 15px),
            (s, 20px),
            (m, 25px),
            (l, 35px),
            (xl, 40px),
            (xxl, 40px));
          width: auto;
        }
      }

    }

    // TODO mobile needs an another layout 
    .menuWrapper {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      //border-right: 20px solid black;
      // background-color: rgb(0, 43, 80);
      padding: 0 2rem 0 2rem;
      font-size: 40px;
      @include responsive(font-size,
        (xs, 30px),
        (s, 35px),
        (m, 40px),
        (l, 45px),
        (xl, 50px),
        (xxl, 55px));

      position: relative;
      width: 75%;

      .menuItem {
        //border-left: 1px solid black;

        display: flex;
        justify-content: center;
        align-items: start;
        color: $typeBlue;


      }
    }
  }

}




.blackTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80%;

  top: 0;
  left: 0;
  z-index: 2;
  margin-bottom: 5%;
}