.tryRed {

  & div {

    background-color: red;
  }
}

.ntfPics {
  width: 100%;
  height: auto;
}

.mintingContainer {
  .head {
    margin: 0 0 4rem 0;
    font-size: 10em;
    display: flex;
    justify-content: center;
  }

  .nftCardWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;

    .nftCard {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &:nth-child(2n -1) {
        .nftHeadPic {
          transform: translateY(25px)
        }
      }
      .nftHeadPic {
        @extend .ntfPics;
        box-shadow: 0 20px 10px black;
      }
      .ntfLogoPic{
        @extend .ntfPics
      }
    }
  }
}