@import '../mixins.scss';

.titleContainer {

  font-size: 2rem;
  @include responsive(font-size,
    (xs, 3rem),
    (s, 5rem),
    (m, 7rem),
    (l, 8rem),
    (xl, 10rem),
    (xxl, 11rem));
  display: flex;
  justify-content: center;
  letter-spacing: -5px;
  @include responsive(letter-spacing,
    (xs, -10px),
    (s, -15px));
  text-align: center
}