$breakpoint-xs : 320px; // smallest
//$breakpoint-s: 576px; // Small devices (phones)
$breakpoint-s: 520px; // Small devices (phones)
$breakpoint-m: 768px; // Medium devices (tablets)
$breakpoint-l: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra-large devices (large desktops)
$breakpoint-xxl: 1440px; // Extra-extra-large devices (extra-large desktops)